.musicstyles1 {
    display: flex; 
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}


.homepageheader1 {
    display: flex; 
    justify-content: center;
    margin: -10em;
    margin-left: 3em;
    width: 100%;
}


.intro2, .intro3 {
    margin-bottom: -20px;
}
.homeheader2 {
    max-width: 100%;
} /* this is messed up on mobile - needs to be responsive*/ 

footer {
    background-color: #eaf8eb
}

.bloghead1 {
    display: flex; 
    justify-content: center;
    margin: -10em;
    margin-left: 3em;
    width: 100%;
}

#playweek {
    box-shadow: 4px 4px 4px #443830;
}

.newsimages {
    display: flex;
    justify-content: center;
    margin-bottom: 5px; 
    margin-top: 5px;
    margin-left: 10px; 
    margin-right: 10px; 
    max-width: 100%; 
}

.section2 {
    display: flex; 
    justify-content: space-between;
    margin: 1em; 
    padding: 10px; 
    max-width: 100%; 
}


.blogtext {background-color: #ffffff; margin: 15px; padding: 20px; margin-top: -45px;} 
.blogintro {background-color: #ffffff; margin: 15px; padding: 20px; } 

.musichead {
    margin-bottom: -20px;
}

.weekhead {
    margin-bottom: -15px;
}

.section2{
    display: flex; 
    flex-wrap: wrap; ;
}

.playheader {
    flex: 2; 
}

.profile1 {
    flex: 1; 
    max-width: 100;
}

.nyt{
    margin: 1em; 
    margin-left:60px; 
}

.wired{
    margin: 1em; 
}

.wsj {
    margin: 1em;  
    margin-right: 60px; 
}


h1{
    color:#472a16;
}
h2 {
    color: #472a16;
}

h3 { color: #472a16; 

}

.newsimages a {
    color: #472a16; 
}

nav {
    color: #2b6679;
    background-color: #eaf8eb;
    border-radius: .25em; ;
}
nav a{color: #385863;}
nav a:visited, .thumb a:visited, .articleinfo a:visited, .homenewslinks a:visited {color:#304e2a }
nav a:hover {color: #3d90a7}

nav {padding: 20px; margin: 15px; }
nav {margin-bottom: 30px; }

.intro1 {background-color: #eaf8eb; border-radius: 1em; margin: 15px; padding: 20px; } 

.news1 {
    background-color: #eaf8eb; border-radius: 1em; margin: 15px; padding: 20px; 
} 

.newsimages {
    display: flex; 
    justify-content: center;
}


.playlistintro {
    background: #eaf8eb; padding: 20px; margin: 15px; border-radius: 1em;
    display: flex; 
    flex-wrap: wrap; 
    flex: 2; 
}

.playlistcontainer {
    display: flex; 
    flex-wrap: wrap;

}

.playheader {
    display: flex; 
    justify-content: center;
}


p {
    color: #11324d; 
}

p, nav, h3, .newsimages, h1, h2, a , .song1, .song2, .song3, .song4, .song5, .song6, .song7, #modal, .subbutton{
    font-family: 'Quicksand', sans-serif; /*how can I make it so its thinner?*/
}

.subbutton {
    padding: 2px; 
    margin-top: 3px; 
}

.musicmixhead {
    display: flex; 
    justify-content: center;
}

.musicheader1 {
    max-width: 100%;
}

.musicintro1 {
    margin: 15px; 
}

.brainfinal {
    padding-left: 150px; 
    padding-right: 150px; 
}

@media only screen and (max-width: 670px) {
    nav a {
        width: 100%; 
        display: block; 
    }
    span {
        display: none; 
    }
}

@media only screen and (max-width: 1150px) {
    .bloghead1 {
        display: none; 
    }
}

@media only screen and (max-width: 1150px) {
    .homepageheader1 {
        display: none; 
    }
}

@media only screen and (max-width: 1150px) {
    .newsimages {
        display: none; 
    }
}

@media only screen and (min-width: 1150px) {
    .homenewslinks {
        display: none; 
    }
}

@media only screen and (max-width: 670px) {
    .news_container {
        width: 100%; 
        display: block; 
    }
    
}

#modal {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 200px; 
    height: 200px; 
    padding: 20px; 
    margin-top: 1100px; 
    margin-left: -120px; 
    background-color: #ffffff; 
    box-shadow: 0px 0px 0px 150vw rgba(0,0,0,0.6); 
    display: none; 
    
}

#closeModal {
    cursor: pointer;
    position: absolute; 
    top: 0; 
    right: 0; 
    padding: 8px; 
}

.suggest { 
    margin: 15px; 
    padding: 10px;
    border-radius: 1em;
    background-color: #cfe6d0; 
}

.button {
    padding: 10px;
    border-radius: 1em;
    cursor: pointer;
    background-color: #eaf8eb 
}

.blog {
    display: flex; 
    flex: 2; 
}

.blogpics {
    display: flex; 
    flex-wrap: wrap; 
    margin-right: 15px; 
}

.eck , .urb {
    display: flex; 
    flex-wrap: wrap;
    align-self: center;
}

.song1, .song2, .song3, .song4, .song5, .song6, .song7 {
    display: flex; 
    flex: 2;  
    margin: 1em; 
}

.exp1, .exp2, .exp3, .exp4,.exp5, .exp6, .exp7 {
    display: flex;  
    flex: 1;
    margin: 1em; 
    color: #11324d; 
    max-width: 100%;
}

@media only screen and (min-width: 950px) {
    .playlistcontainer {
        width: 100%; 
        display: block; 
    }
}

@media only screen and (max-width: 950px) {
    .song1, .song2, .song3, .song4, .song5, .song6, .song7 {
        width: 100%; 
        display: flex;
        flex-wrap: wrap;  
    }
}

@media only screen and (max-width: 950px) {
    .exp1, .exp2, .exp3, .exp4, .exp5, .exp6, .exp7 {
        width: 100%; 
        display: flex;
        flex-wrap: wrap;  
    }
}




.articleinfo {
    padding: 50px;
    margin-top: -70px; 
    
}

#thumbnails {
    width: 840px; padding-top: 20px;
    cursor: pointer;
} 

#cryptothumb, #wiredthumb, #fbthumb {
    width: 100px;
    margin: auto; 
}

#crypto1, #wired1 {
    display: none; 
}

#nytexp, #wiredexp {
    display: none; 
}


.news_container {
    display: flex; 
    flex: 2; 
    margin-bottom: 30px; 
    
}

#thumbnails {
    display: flex; 
    flex-wrap: wrap;
    margin-right: 5px;  
}


.link, .inst {
    width: 30px;
    margin: 5px; 
    margin-top: 10px; 
    margin-bottom: -10px; 
}

footer {
    font-family: 'Quicksand', sans-serif;
    padding: 5px; 
    border-radius: 1em;
    margin: 15px; 
    
}


















