body {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: #ffffff;

}

p {
    color: #11324d; 

}

h1, h2, h3 { font-family: Georgia, 'Times New Roman', Times, serif;
        color: #6b7aa1; 


}

ul {color: #11324d;
}

table, th, td {color: #146e54;
            border: 1px solid #146e54; 
 }

 nav {background-color: #dceff2
}

nav a {color: #146E54;  }
nav a:hover {background-color: #146e54}
nav {padding: 10px}
nav {margin-bottom: 30px}


.section1, .section2, .section3 {background-color: #dceff2; border-radius: 1em; margin: 15px; } 


.profile1 {clear: both; }


.section2, .section3 {display: flex; }
.section2, .section3 {padding: 40px; }
.section3 {padding-left: 170px; }








a:link {color: #c1cfc0; }
a:visited {color: #345b63; }
a:hover {color: #c2e8f0; }

